.doctor-extra-infor-container {
    padding-left: 15px;

    .content-up {
        margin-bottom: 10px;
        border-bottom: 1.5px solid #ddd;
        // background-color: #f9f9f9;

        .heading-banner {
            text-transform: uppercase;
            color: #333;
            font-weight: 540;
            font-size: 15px;
        }

        .clinic-banner {
            padding: 5px 0;
            font-weight: 620;
            font-size: 12.5px;
            color: #333;
        }

        .clinic-address {
            font-weight: 550;
            font-size: 12.5px;
            color: #333;
        }
    }

    .content-down {

        .heading-banner {
            margin-bottom: 10px;
        }

        .body-banner {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f8f8;

            .main-infor-banner {
                padding-bottom: 5px;

                .left {
                    font-weight: 580;
                }

                .right {
                    float: right;
                    font-weight: 580;
                }
            }

            .content-banner {}
        }

        .payment {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #eee;
        }

        .hide {
            margin-top: 10px;

            .display-detail {
                cursor: pointer;
                color: rgba(1, 145, 145, 0.753);
                font-style: italic;
            }
        }
    }
}