.home-header-container {
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 4;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0 10px;
        // background: url("../../assets/bg-header.png") center center no-repeat;
    }

    .left-content {
        width: 25%;
        align-items: center;
        display: flex;
        background: url("../../assets/bg-header.png") center center no-repeat;


        .header-logo {
            background: url("../../assets/logo.png") center center no-repeat;
            background-size: 56%;
            height: 100%;
            width: 100%;
            margin-left: -100px;
            border-radius: 8px;
            cursor: pointer;
        }

        i {
            font-size: 35px;
            color: rgba(41, 37, 37, 0.582);
            cursor: pointer;
            padding-left: 15px;
        }
    }

    .center-content {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url("../../assets/bg-header.png") center center no-repeat;

        .child-content {
            .subs-title {
                font-weight: 200;
                font-size: 12px;
            }
        }
    }

    .right-content {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: url("../../assets/bg-header.png") center center no-repeat;

        .support {
            padding-right: 50px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #443b3bb9;

            i {
                font-size: 15px;
                margin-right: 5px;
            }

            &:hover {
                color: #6e6d1ace;
            }
        }

        .language-vi {
            cursor: pointer;
            opacity: 0.2;

            &.active {
                color: rgba(255, 0, 0, 0.623);
                opacity: 1;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .language-en {
            margin: 0 10px;
            cursor: pointer;
            opacity: 0.2;

            &.active {
                color: rgba(0, 132, 255, 0.829);
                opacity: 1;

            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.home-header-banner {

    background: url('../../assets/header-background.jpg');
    background-size: cover;
    height: 790px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up {
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
        height: 65%;

        .title {
            text-align: center;
            font-size: 40px;
            text-shadow: 1px 1px 1px #333;
            color: white;

            &.base {
                margin-top: 135px;
                font-weight: 100;
            }

            &.comprehensive {
                margin-top: 0.5px !important;
                font-weight: 600;
                margin-bottom: 50px;
            }
        }

        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            background: #bdbb3dce;

            i {
                margin: 0 5px;
            }

            input {
                height: 50px;
                width: 500px;
                border: none;
                outline: none;
                background: transparent;
            }
        }
    }

    .content-down {
        height: 35%;
        padding-bottom: 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align: center;
            display: flex;
            grid-gap: 40px;
            justify-content: center;

            .option-child {
                width: 130px;

                .icon-child {
                    background: white;
                    width: 70px;
                    height: 70px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        font-size: 3rem;
                        color: #49bce2a6;

                        &:hover {
                            color: #d43535de;
                        }
                    }

                }

                .text-child {
                    font-size: 20px;
                    font-weight: 600;
                    color: #00000081;
                    cursor: pointer;

                    &:hover {
                        color: #bdbb3dce;
                    }
                }
            }
        }
    }
}