div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 10000;
    }
}

.manage-patient-container {
    .m-p-title {
        font-size: 16px;
        font-weight: 570;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }

    .manage-patient-body {
        padding: 5px 20px;

        .table-manage-patient {
            padding-top: 20px;

            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th,
            td {
                padding: 5px;
                text-align: center;
            }

            button {
                border: none;
                outline: none;
                cursor: pointer;
            }

            .confirm {
                margin-right: 15px;
                border-radius: 4px;
                background: #0071ba;
                color: white;
            }
        }
    }
}